* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  .form-register {
    width: 400px;
    background: #333;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 50px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #333;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(151, 226, 174);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: rgb(151, 226, 174);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    border-radius: 20px;
    font-size: 16px;
  }

  ul {
    list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      border-radius: 15px;
      font-family: Arial, Helvetica, sans-serif;
      width: 94%;
      margin-left: 3%;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li:last-child {
    border-right: none;
    border-radius: 15px;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px;
  
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    border-radius: 15px;
  
  }
  
  .active {
    background-color: rgb(151, 226, 174);
    border-radius: 15px;
  
  }